# utility
.vscode

# cache lab
cache/.csim_results
cache/.marker
cache/csim
cache/csim-ref
cache/root-handin.tar
cache/test-csim
cache/test-trans
cache/trace.f0
cache/trace.f1
cache/trace.tmp
cache/tracegen
cache/*.o

# malloc lab
malloc/*.o
malloc/mdriver
malloc/silly.rep

# shell lab
shlab/nsh

# all
*.tar

# small experiments
tmp*.c
eg*.c

# for trying programs on csapp 
range